@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #201e1e;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dela Gothic One', cursive;
}

#batteria {
    width: 150px;
    height: 300px;
    border: 9px solid white;
    border-radius: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#batteria #livelloBatteria {
    font-size: 4.3em;
    color: #5e71c6;
}

#batteria #livelloBatteriaColore {
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    /* height: 50%; */
    animation: ondeggiaLivelloBatteria 4s ease-in-out infinite;
}
@keyframes ondeggiaLivelloBatteria {
    0%, 100% {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 2.67%, 2.00% 2.62%, 4.00% 2.49%, 6.00% 2.28%, 8.00% 2.02%, 10.00% 1.73%, 12.00% 1.43%, 14.00% 1.15%, 16.00% 0.92%, 18.00% 0.76%, 20.00% 0.67%, 22.00% 0.68%, 24.00% 0.78%, 26.00% 0.96%, 28.00% 1.20%, 30.00% 1.48%, 32.00% 1.78%, 34.00% 2.07%, 36.00% 2.32%, 38.00% 2.52%, 40.00% 2.64%, 42.00% 2.67%, 44.00% 2.61%, 46.00% 2.46%, 48.00% 2.24%, 50.00% 1.98%, 52.00% 1.68%, 54.00% 1.38%, 56.00% 1.11%, 58.00% 0.89%, 60.00% 0.74%, 62.00% 0.67%, 64.00% 0.69%, 66.00% 0.80%, 68.00% 0.99%, 70.00% 1.24%, 72.00% 1.53%, 74.00% 1.83%, 76.00% 2.12%, 78.00% 2.36%, 80.00% 2.54%, 82.00% 2.65%, 84.00% 2.66%, 86.00% 2.59%, 88.00% 2.43%, 90.00% 2.20%, 92.00% 1.93%, 94.00% 1.63%, 96.00% 1.33%, 98.00% 1.07%, 100.00% 0.86%);
    }
    50% {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 0.67%, 2.00% 0.71%, 4.00% 0.84%, 6.00% 1.05%, 8.00% 1.31%, 10.00% 1.60%, 12.00% 1.90%, 14.00% 2.18%, 16.00% 2.41%, 18.00% 2.58%, 20.00% 2.66%, 22.00% 2.65%, 24.00% 2.55%, 26.00% 2.38%, 28.00% 2.14%, 30.00% 1.85%, 32.00% 1.55%, 34.00% 1.26%, 36.00% 1.01%, 38.00% 0.82%, 40.00% 0.70%, 42.00% 0.67%, 44.00% 0.73%, 46.00% 0.87%, 48.00% 1.09%, 50.00% 1.36%, 52.00% 1.65%, 54.00% 1.95%, 56.00% 2.22%, 58.00% 2.45%, 60.00% 2.60%, 62.00% 2.66%, 64.00% 2.64%, 66.00% 2.53%, 68.00% 2.34%, 70.00% 2.09%, 72.00% 1.80%, 74.00% 1.50%, 76.00% 1.22%, 78.00% 0.97%, 80.00% 0.79%, 82.00% 0.69%, 84.00% 0.67%, 86.00% 0.75%, 88.00% 0.90%, 90.00% 1.13%, 92.00% 1.41%, 94.00% 1.70%, 96.00% 2.00%, 98.00% 2.26%, 100.00% 2.48%);
    }
}

#info {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    text-align: center;
    text-transform: uppercase;
}